@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


:root{
  --color-bg: #fcf9f8;
  --color-surface: #f6f3f2;
  --color-primary: #0055FF;
  --color-primary-button: #0041c8;
  --color-text: #434656;
  --color-text-headline: #1c1b1b;

  /* Dark Theme */
  --color-bg-dark: #131313;
  --color-surface-dark: #201f1f;
  --color-text-dark: #e5e2e1;
  --color-text-headline-dark: #c3c5d9;
  
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 100px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
}

.headline{
  color: var(--color-text-headline);
}

@layer components {
  .nav-link {
    @apply relative text-[var(--color-text-surface)] transition-colors duration-200 hover:text-[var(--color-primary)];
  }

  .nav-link::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-0.5 w-0 bg-[var(--color-primary)] transition-all duration-300;
  }

  .nav-link-active {
    @apply text-[var(--color-primary)];
  }

  .nav-link-active::after {
    @apply w-full;
  }
}